.btn-red,
.btn-red:hover,
.btn-red:focus {
  background-color: rgb(237, 28, 36);
}

.btn-green,
.btn-green:hover,
.btn-green:focus {
  background-color: darken($grass-green, 10%);
}

.btn,
.btn:hover,
.btn:focus {
	color: rgb(255, 255, 255);
	outline: none;
}

.btn-round {
	border-radius: 30px;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
	height: 3px;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	border: none;
	background-color: transparent;
}
